@model TarefaItem

<h2>Criar Nova Tarefa</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="POST">
            <input type="hidden" asp-for="id" />
            <div class="checkbox">
                <label>
                    <input asp-for="EstaCompleta" />@Html.DisplayFor(model => model.EstaCompleta)
                </label>
            </div>

            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input type="text" asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DataConclusaoTarefa" class="control-label"></label>
                <input type="date" asp-for="DataConclusaoTarefa" class="form-control" />
                <span asp-validation-for="DataConclusaoTarefa" class="text-danger"></span>
            </div>            
            
            <div class="form-group">
                <input type="submit" value="Salvar Alterações" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Retornar</a>
</div>